@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: hsl(0, 0%, 50%);
    padding-top: 1rem;
    font-family: "Nunito";
}

#app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    padding: 0.5rem;
    background-color: hsl(173, 58%, 40%);
    border: 0.15rem solid hsl(0, 0%, 30%);
}

/* #app-container > * {
    border: 0.1rem solid hsl(0, 0%, 30%);
    padding: 0.5rem;
} */

h1 {
    font-size: 1.5rem;
    font-family: "Nunito";
    font-weight: 600;
}

h3 {
    font-size: 0.8rem;
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.customer-name input,
.customer-email input,
.special-requests textarea,
.size-selection select,
.amount-number input {
    padding: 0.25rem;
    border: 0.15rem solid hsl(173, 58%, 25%);
}

.special-requests textarea {
    width: 100%;
    height: 100px;
}

.customer-name {
    display: flex;
    gap: 1rem;
}

.customer-email {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.name-input {
    display: flex;
    flex-direction: column;
}

.heat-level-selection {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.heat-level-option {
    display: flex;
    gap: 0.5rem;
}

.toppings-selection {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.topping-checkbox {
    display: flex;
    gap: 0.5rem;
}

input[type="radio"],
input[type="checkbox"] {
    accent-color: hsl(27, 87%, 67%);
}

.customer-name,
.customer-email,
.heat-level-selection,
.toppings-selection,
.special-requests,
.size-selection,
.amount-number {
    background-color: hsl(173, 58%, 55%);
    border: 0.15rem solid hsl(173, 58%, 35%);
    padding: 0.5rem;
}

.size-selection {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-family: "Nunito";
}

#size {
    padding: 0.5rem;
}

.amount-number {
    display: flex;
    flex-direction: column;
}

.submit-button {
    padding: 0.5rem;
    border: 0.15rem solid hsl(173, 58%, 25%);
    font-size: 1.1rem;
    font-family: "Nunito";
    font-weight: 600;
    cursor: pointer;
}

.submit-button:hover {
    background-color: hsl(173, 58%, 70%);
}